<ng-container *ngIf="showModal">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="modal-brand text-center">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <div class="form-floating mb-3">
                <input [maxlength]="70" [(ngModel)]="entrevista.data" type="date" id="data" class="form-control"
                  placeholder="=" name="data">
                <label for="data">Data da entrevista</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-3">
                <input [maxlength]="70" [(ngModel)]="entrevista.link" type="text" id="link" class="form-control"
                  placeholder="=" name="link">
                <label for="link">Link da entrevista</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn brand-btn">
                <b>Salvar entrevista</b>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</ng-container>
