<ng-container *ngIf="showModal">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="modal-brand rounded text-center">
        <form (ngSubmit)="onSubmit()" #entrevistaForm="ngForm">
          <br>
          <h2 class="brand-text"><b>Nova entrevista</b></h2>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input
                  [(ngModel)]="entrevista.data"
                  name="data"
                  max="{{getMaxDate()}}"
                  min="{{getMinDate()}}"
                  (keypress)="onDateInputKeydown($event)"
                  (keydown)="onDateInputKeydown($event)"
                  #dataAngular="ngModel"
                  #data
                  type="date"
                  class="form-control"
                  id="data"
                  placeholder="="
                  required
                >
                <label for="data">Prazo de envio</label>
                <ng-container *ngIf="dataAngular.dirty || dataAngular.touched">
                  <div *ngIf="data.valueAsDate === null" class="text-danger">
                    Data da entrevista é de preenchimento obrigatório!
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input [maxlength]="70" required [(ngModel)]="entrevista.link" type="url" id="link" class="form-control"
                  placeholder="=" name="link" #linkEntrevista="ngModel">
                <label for="link">Link da entrevista</label>
                <ng-container *ngIf="linkEntrevista.dirty || linkEntrevista.touched">
                  <div *ngIf="linkEntrevista.errors?.['required']" class="text-danger">
                    Link da entrevista é de preenchimento obrigatório!
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn brand-btn" [disabled]="!entrevistaForm.valid || data.valueAsDate === null">
                <b>Salvar entrevista</b>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</ng-container>
