<h1 class="brand-text"><b>Bem vindo {{usuario.nome}}!</b></h1>
<br>
<p>Bem vindo à plataforma de recrutamento e seleção TalentPool!</p>
<p>A melhor plataforma de recrutamento do Brasil, líder em conectar talentos e empresas de forma eficiente e inovadora.
</p>
<div *ngIf="usuario.sobre === ''">
  <app-empty-state></app-empty-state>
</div>
<ng-container *ngIf="usuario.sobre !== ''">
  <div id="carouselExampleIndicators" class="carousel slide brand-text" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" *ngIf="usuario.tipo === 'CANDIDATO'">
      <div class="text-center carousel-card rounded">
        <a routerLink="/vagas/inscritas">
          <div class="carousel-item active">
            <div class="container bg-white bg-gradient bg-opacity-50 py-5">
              <br>
              <h3><b>Vagas em andamento</b></h3>
              <br><br>
              <p>Você tem</p><br>
              <h1><b>{{vagas.length}}</b></h1><br>
              <p>vagas que estão em andamento!</p>
              <br>
            </div>
          </div>
        </a>
        <a routerLink="/vagas/inscritas">
          <div class="carousel-item">
            <div class="container bg-white bg-gradient bg-opacity-50 py-5">
              <br>
              <h3><b>Vagas finalizadas</b></h3>
              <br><br>
              <p>Você tem</p><br>
              <h1><b>{{vagas.length}}</b></h1><br>
              <p>vagas que enceraram!</p>
              <br>
            </div>
          </div>
        </a>
        <a routerLink="/vagas/buscar">
          <div class="carousel-item">
            <div class="container bg-white bg-gradient bg-opacity-50 py-5">
              <br>
              <h3><b>Vagas disponíveis</b></h3>
              <br><br>
              <p>Você tem</p><br>
              <h1><b>{{vagasTotais.length}}</b></h1><br>
              <p>vagas para se inscrever!</p>
              <br>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="carousel-inner" *ngIf="usuario.tipo === 'EMPRESA'">
      <div class="text-center carousel-card rounded">
        <a routerLink="/vagas/suas-vagas">
          <div class="carousel-item active">
            <div class="container bg-white bg-gradient bg-opacity-50 py-5">
              <br>
              <h3><b>Suas vagas</b></h3>
              <br><br>
              <p>Você tem</p><br>
              <h1><b>{{vagas.length}}</b></h1><br>
              <p>vagas que estão em andamento!</p>
              <br>
            </div>
          </div>
        </a>
        <a routerLink="/empresas/vagas">
          <div class="carousel-item">
            <div class="container bg-white bg-gradient bg-opacity-50 py-5">
              <br>
              <h3><b>Cadastre suas vagas</b></h3>
              <br><br>
              <p>Você pode cadastrar</p><br>
              <h1><b>suas vagas</b></h1><br>
              <p>em nossa plataforma!</p>
              <br>
            </div>
          </div>
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</ng-container>
<modal-tutorial #modalTutorial [isPrimeiroAcesso]="isPrimeiroAcesso"></modal-tutorial>
