/* Importe do bootstrap */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.scss';
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.text-danger{
  text-align: left !important;
}
.modal-brand{
  min-width: 320px;
  overflow-y: scroll;
  scrollbar-width: none;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  position: fixed;
  width: 80%;
  max-height: 80%;
  height: auto;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.modal-brand::-webkit-scrollbar{
  width: 6px;
}
.modal-brand::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.modal-brand::-webkit-scrollbar-track {
  background-color: transparent;
}
.overlay {
  background: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 10;
  left: -100vw;
  right: -100vw;
  top: -35vh;
  bottom: -75vh;
}
.col-1{
  margin-right: 20px;
}
.brand-btn{
  padding: 10px 25px;
  background-color: rgb(21, 121, 221);
  color: white;
}
.brand-btn:hover{
  background-color: rgb(18, 107, 197);
  color: white;
}
.brand-background{
  background-color: rgb(21, 121, 221);
}
.brand-text{
  color: rgb(21, 121, 221);
}
.grey-background{
  background-color: lightgrey;
}
textarea{
  height: 100px !important;
}
menu{
  padding-left: 0px;
  margin: 0px;
}
.p-b-t-100{
  padding: 100px 0px;
}
.shadow {
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}
span{
  margin-right: 10px;
}
.text-border{
  text-decoration: underline rgb(21, 121, 221);
}
html {
  margin: 0;
  height: 100%;
  background-color: rgb(21, 121, 221);
  overflow-x: hidden;
}
app-root{
  background-color: white;
}
