<header class="yellow-background">
  <nav class="navbar navbar-expand ftco_navbar ftco-navbar-light">
    <div class="container align-items-center">
      <a class="navbar-brand" href="index.html">EY</a>
      <div class="order-last">
          <a href="#"><span class="bi bi-arrow-right-square"></span></a>
          <a href="#"><span class="bi bi-person-fill-add"></span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mr-md-3">
          <li routerLink="/home" class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li routerLink="/sobre" class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
