<footer class="brand-background py-5 text-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading"><a  target="_blank" href="https://www.ey.com/pt_br" class="logo">TalentPool</a></h2>
        <p class="menu">
          <a href="#"><i class="bi bi-github"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </p>
        <p></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p class="copyright">
          Copyright ©
          <script>document.write(new Date().getFullYear());</script>2023 All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
