<ng-container *ngIf="showModal">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="modal-brand text-center">
        <form (ngSubmit)="onSubmit()" #questionarioForm="ngForm">
          <br>
          <h2 class="brand-text"><b>Novo questionário</b></h2>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input
                  [(ngModel)]="questionario.prazoEnvio"
                  [disabled]="isFormSubmitted"
                  name="prazoEnvio{{indexComponent}}"
                  max="{{getMaxDate()}}"
                  min="{{getMinDate()}}"
                  (keypress)="onDateInputKeydown($event)"
                  (keydown)="onDateInputKeydown($event)"
                  #prazoEnvioAngular="ngModel"
                  #prazoEnvio
                  type="date"
                  class="form-control"
                  id="prazoEnvio"
                  placeholder="="
                  required
                >
                <label for="prazoEnvio">Prazo de envio</label>
                <ng-container *ngIf="prazoEnvioAngular.dirty || prazoEnvioAngular.touched">
                  <div *ngIf="prazoEnvio.valueAsDate === null" class="text-danger">
                    Data de prazo para o envio do questionário é obrigatório!
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input [minlength]="2" [maxlength]="3" [disabled]="isFormSubmitted" mask="000" required
                  [(ngModel)]="questionario.pontuacaoTotal" type="text" id="pontuacaoTotal" class="form-control"
                  placeholder="=" name="pontuacaoTotal{{indexComponent}}" #pontuacaoTotal="ngModel">
                <label for="pontuacaoTotal">Pontuação total do questionario</label>
                <ng-container *ngIf="pontuacaoTotal.dirty || pontuacaoTotal.touched">
                  <div *ngIf="pontuacaoTotal.value === 0" class="text-danger">
                    Pontuação total do questionario é de preenchimento obrigatório!
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn brand-btn"
                [disabled]="!questionarioForm.valid || isFormSubmitted || prazoEnvio.valueAsDate === null || pontuacaoTotal.value === 0">
                <b>Construir questionário</b>
              </button>
            </div>
          </div>
        </form>
        <br>
        <h3 class="brand-text" *ngIf="isFormSubmitted"><b>Perguntas</b></h3>
        <br>
        <ng-container *ngFor="let pergunta of perguntas; let indexComponent = index">
          <div class="row justify-content-center d-flex">
            <div class="col-md-8">
              <div class="form-floating mb-3">
                <select name="tipo" [(ngModel)]="pergunta.tipo" class="form-select">
                  <option disabled selected hidden>Selecione o tipo de pergunta</option>
                  <ng-container *ngFor="let tipo of tipos">
                    <option [value]="tipo.tipo" id="tipo">{{tipo?.tipo}}</option>
                  </ng-container>
                </select>
                <label for="tipo">Tipo da pergunta</label>
              </div>
            </div>
          </div>
          <div *ngIf="pergunta.tipo === 'Dissertativa'">
            <resposta-dissertativa [pergunta]="pergunta" [idQuestionario]="idQuestionario"></resposta-dissertativa>
          </div>
          <div *ngIf="pergunta.tipo === 'Múltipla escolha'">
            <resposta-multipla-escolha [pergunta]="pergunta"
              [idQuestionario]="idQuestionario"></resposta-multipla-escolha>
          </div>
        </ng-container>
        <div class="row" *ngIf="isFormSubmitted">
          <div class="col-1">
            <button [disabled]="perguntasNovas[indexComponent-1] || perguntasNovas.length >= 10" type="button"
              class="btn brand-btn" (click)="onClickAdd()">
              <i class="bi bi-plus-circle"></i></button>
          </div>
          <div class="col-1" *ngIf="indexComponent > 1">
            <button type="button" class="btn brand-btn" (click)="onClickRemove()">
              <i class="bi bi-trash-fill"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" (click)="exibirModal()" class="btn brand-btn" [disabled]="perguntas.length < 4">
              <b>Finalizar etapa</b>
            </button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</ng-container>
