<ng-container *ngIf="showModal">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="modal-brand text-center">
        <form (ngSubmit)="onSubmit()" #questionarioForm="ngForm">
          <br>
          <h2 class="brand-text"><b>Novo questionário</b></h2>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-floating mb-3">
                <input required [(ngModel)]="questionario.prazoEnvio" type="date" id="prazoEnvio"
                  class="form-control" placeholder="=" name="prazoEnvio{{indexComponent}}" #prazoEnvio="ngModel">
                <label for="prazoEnvio">Prazo de envio</label>
                <p *ngIf="prazoEnvio.errors?.['required']" class="text-danger">
                  Data de prazo para o envio do questionário é obrigatório!
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-3">
                <input mask="000" required [(ngModel)]="questionario.pontuacaoTotal" type="text" id="pontuacaoTotal"
                  class="form-control" placeholder="=" name="pontuacaoTotal{{indexComponent}}" #pontuacaoTotal="ngModel">
                <label for="pontuacaoTotal">Pontuação total do questionario</label>
                <ng-container *ngIf="pontuacaoTotal.dirty || pontuacaoTotal.touched">
                  <div *ngIf="pontuacaoTotal.errors?.['required']" class="text-danger">
                    Pontuação total do questionario é de preenchimento obrigatório!
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn brand-btn" [disabled]="!questionarioForm.valid">
                <b>Salvar questionario</b>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</ng-container>
