<div class="text-center">
  <div class="container shadow">
    <div class="card-body my-5 py-3">
      <br>
      <h2 class="text-warning"><b>Informações profissionais</b></h2>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <form>
            <div class="row">
              <!-- Info text -->
              <div class="col-md-12">
                <div class="form-floating mb-3">
                  <textarea type="text" id="info" class="form-control" placeholder="=" name="info"></textarea>
                  <label for="info">Fale sobre você no ambiente de trabalho</label>
                </div>
              </div>
            </div>
            <br><br>
            <h3 class="text-warning"><b>Experiências anteriores</b></h3>
            <br><br>
            <div class="row">
              <!-- Info text -->
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" id="intituicao" class="form-control" placeholder="=" name="intituicao" />
                  <label for="intituicao">Empresa</label>
                </div>
              </div>
              <!-- Info text -->
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" id="titulo" class="form-control" placeholder="=" name="titulo" />
                  <label for="titulo">Cargo</label>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Inicio contrato -->
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input type="text" id="data_inicio" class="form-control" placeholder="=" name="data_inicio" />
                  <label for="data_inicio">Data de início</label>
                </div>
              </div>
              <!-- Final contrato -->
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input type="text" id="data_final" class="form-control" placeholder="=" name="data_final" />
                  <label for="data_final">Data de encerramento</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
