<menu></menu>
<div class="p-b-t-100 yellow-background">
</div>
<div class="container shadow">
  <div class="card-body my-5 py-3">
    <div class="row px-5 py-5 d-flex align-items-center">
      <div class="col-md-4 mb-4 text-center">
        <form>
          <h2><b>Login</b></h2>
          <br><br>
          <!-- Email input -->
          <div class="form-floating mb-3">
            <input type="email" id="email" class="form-control" placeholder="" />
            <label for="email">E-mail</label>
          </div>
          <div class="form-floating mb-3">
            <!-- Password input -->
            <input type="password" id="senha" class="form-control" placeholder="" />
            <label for="senha">Senha</label>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-warning btn-block mb-3">
            Login
          </button>
        </form>
      </div>
      <div class="col-md-8 mb-4 text-center">
        <img class="img-fluid"
          src="https://media-s3-us-east-1.ceros.com/the-telegraph/images/2021/10/29/b0c6da9a1b0773961529665c7858e182/bt-x-telegraph-article-4-working-from-home-final-mike-driver.png?imageOpt=1&fit=bounds&width=400"
          alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
