<div class="text-center">
  <div class="container shadow">
    <div class="card-body my-5 py-3">
      <br>
      <h2 class="text-warning"><b>Informações pessoais</b></h2>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <form>
            <div class="row">
              <!-- Genero input -->
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input type="text" id="genero" class="form-control" placeholder="=" name="genero" />
                  <label for="genero">Genero</label>
                </div>
              </div>
              <!-- Etnia input -->
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input type="text" id="etnia" class="form-control" placeholder="=" name="etnia" />
                  <label for="etnia">Etnia</label>
                </div>
              </div>
              <!-- Deficiência input -->
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input type="text" id="deficiencia" class="form-control" placeholder="=" name="deficiencia" />
                  <label for="deficiencia">Deficiência</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <!-- Renda input -->
                <div class="form-floating mb-3">
                  <input type="text" id="renda_familiar" class="form-control" placeholder="=" name="Renda familiar"
                    mask="separator.2" decimalMarker="," thousandSeparator="." prefix="R$ " separatorLimit="10000000" />
                  <label for="renda_familiar">Renda familiar</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
