<div class="p-b-t-100 text-center yellow-background">
</div>
<div class="text-center">
  <div class="container shadow">
    <div class="card-body my-5 py-3">
      <br>
      <h2 class="text-warning"><b>Endereço</b></h2>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <form (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <select name="estado" #estado [(ngModel)]="endereco.estado" (change)="getSelectedValue(estado.value)"
                    class="form-select">
                    <option disabled selected hidden>Selecione o estado</option>
                    <ng-container *ngFor="let estado of estados">
                      <option [value]="estado.sigla" id="estado">{{estado?.estado}}</option>
                    </ng-container>
                  </select>
                  <label for="estado">Estado</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <select name="municipio" [(ngModel)]="endereco.municipio" class="form-select">
                    <option disabled selected hidden>Selecione a cidade</option>
                    <ng-container *ngFor="let cidade of cidades">
                      <option [value]="cidade.municipio" id="municipio">{{cidade?.municipio}}</option>
                    </ng-container>
                  </select>
                  <label for="municipio">Cidade</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="logradouro" class="form-control" placeholder="=" name="logradouro"
                [(ngModel)]="endereco.logradouro" />
              <label for="logradouro">Logradouro</label>
            </div>
            <div class="row">
              <!-- CEP input -->
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" id="cep" class="form-control" placeholder="=" name="cep" mask="00000-000"
                    [(ngModel)]="endereco.cep" />
                  <label for="cep">CEP</label>
                </div>
              </div>
              <!-- Número input -->
              <div class="col-md-6 ">
                <div class="form-floating mb-3">
                  <input type="text" id="numero" class="form-control" placeholder="=" name="numero"
                    [(ngModel)]="endereco.numero" />
                  <label for="numero">Número</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-warning btn-block mb-3">
              Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
