  <menu></menu>
  <div class="p-b-t-100 yellow-background"></div>
  <div class="text-center">
    <div class="container shadow">
      <div class="card-body my-5 py-3">

        <h2 class="fw-bold">Registre-se {{tipoCadastro}}!</h2>

        <button class="btn btn-warning btn-block mb-4" (click)="onClickCandidato()"><b>Candidato</b></button>
        <button class="btn btn-warning btn-block mb-4" (click)="onClickEmpresa()"><b>Empresa</b></button>

        <div *ngIf="isCandidatoSelected">
          <app-candidatos-cadastro></app-candidatos-cadastro>
        </div>
        <div *ngIf="!isCandidatoSelected">
          <app-empresas-cadastros></app-empresas-cadastros>
        </div>

      </div>
    </div>
  </div>
<app-footer></app-footer>
