<section class="text-center">
  <div class="p-5 yellow-background"></div>
  <div class="card mx-4 mx-md-5 shadow-5-strong shadow">
    <div class="card-body py-5 px-md-5">

      <h2 class="fw-bold">Cadastro</h2>

      <button class="btn btn-warning btn-block mb-4" (click)="onClick()">Candidato</button>
      <button class="btn btn-warning btn-block mb-4" (click)="onClick()">Empresa</button>

      <div [class.d-none]="isCandidatoSelected == false">
        <app-candidatos-cadastro></app-candidatos-cadastro>
      </div>
      <div [class.d-none]="isCandidatoSelected == true">
        <app-empresas-cadastros></app-empresas-cadastros>
      </div>

    </div>
  </div>
</section>
