<div class="row d-flex justify-content-center">
  <div class="col-lg-8">

    <h2 class="fw-bold mb-5">Registre-se empresa!</h2>

    <form>
      <!-- Nome fantasia input -->
      <div class="form-floating mb-3">
        <input type="text" id="nome" class="form-control" placeholder="" />
        <label for="nome">Nome fantasia</label>
      </div>

      <!-- Razão input -->
      <div class="form-floating mb-3">
        <input type="text" id="razao" class="form-control" placeholder="" />
        <label for="razao">Razão social</label>
      </div>

      <!-- CPNJ input -->
      <div class="form-floating mb-3">
        <input type="text" id="cnpj" class="form-control" placeholder="" />
        <label for="cnpj">CNPJ</label>
      </div>

      <!-- Email input -->
      <div class="form-floating mb-3">
        <input type="email" id="email" class="form-control" placeholder="" />
        <label for="email">E-mail</label>
      </div>

      <div class="row">
        <!-- Password input -->
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">
            <input type="password" id="senha" class="form-control" placeholder="" />
            <label for="senha">Senha</label>
          </div>
        </div>

        <!-- Repeat Password input -->
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">
            <input type="password" id="senha" class="form-control" placeholder="" />
            <label for="senha">Repita sua senha</label>
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-warning btn-block mb-3">
        Registre-se
      </button>
    </form>

  </div>
</div>
