<header class="brand-background text-light">
  <nav class="navbar navbar-expand ftco_navbar ftco-navbar-light">
    <div class="container align-items-center">
      <a class="navbar-brand text-light img-size" routerLink="/home"><img id="img-logo" width="50px" height="auto" alt="Logo TalentPool, que contém uma piscina no final." src="../../../../../assets/images/logotalent.png"></a>
      <div class="order-last">
          <a routerLink="/login"><span class="bi bi-arrow-right-square"></span></a>
          <a routerLink="/cadastros"><span class="bi bi-person-fill-add"></span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mr-md-3">
          <li routerLink="/home" class="nav-item"><a routerLink="/home" class="text-light nav-link">Home</a></li>
          <li routerLink="/sobre" class="nav-item"><a routerLink="/sobre" class="text-light nav-link">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
