<ng-container *ngIf="usuario.id !== 0">
  <div class="text-center">
    <h4 class="brand-text"><b>{{usuario.nome}}</b></h4>
  </div>
  <br>
  <div class="row d-flex mx-5">
    <h5 class="brand-text"><b>Sobre</b></h5>
    <br><br><br>
    <p>{{usuario.sobre}}
      Tenho uma renda famíliar de {{candidato.rendaFamiliar}}, sou do gênero
      {{candidato.genero}}
      <ng-container *ngIf="candidato.etnia">
        , com origem {{candidato.etnia}}
      </ng-container>
      <ng-container *ngIf="candidato.deficiencia">
        e tenho {{candidato.deficiencia}}
      </ng-container>.
    </p>
    <br><br>

    <h5 class="brand-text"><b>Experiência profissional</b></h5>
    <ng-container *ngFor="let competencia of competencias">
      <ng-container *ngIf="competencia.tipo === 'EXPERIENCIA'">
        <p>{{competencia.titulo}} - {{competencia.instituicao}}</p>
      </ng-container>
    </ng-container>
    <br>
    <h5 class="brand-text"><b>Línguas</b></h5>
    <ng-container *ngFor="let competencia of competencias">
      <ng-container *ngIf="competencia.tipo === 'LINGUAGEM'">
        <p>{{competencia.titulo}} - {{competencia.nivel}}</p>
      </ng-container>
    </ng-container>
    <br>
    <h5 class="brand-text"><b>Cursos</b></h5>
    <ng-container *ngFor="let competencia of competencias">
      <ng-container *ngIf="competencia.tipo === 'CURSOS'">
        <p>{{competencia.titulo}} - {{competencia.nivel}}</p>
      </ng-container>
    </ng-container>
    <br>
    <h5 class="brand-text"><b>Habilidades interpessoais</b></h5>
    <ng-container *ngFor="let competencia of competencias">
      <ng-container *ngIf="competencia.tipo === 'SOCIAL'">
        <p>{{competencia.titulo}}</p>
      </ng-container>
    </ng-container>
  </div>
  <br>
  <h5 class="brand-text"><b>Contato</b></h5>
  <p>{{usuario.email}} | +55 {{usuario.celular}}</p>
  <app-feedback [processo]="processo"></app-feedback>
  <div class="row">
    <div class="col-12" *ngIf="processo.candidatoAprovado">
      <b>Esse candidato já faz parte da sua equipe!</b>
    </div>
    <div class="col-12" *ngIf="processo.candidatoReprovado">
      <b>Esse candidato foi reprovado!</b>
    </div>
  </div>
  <br><br>
  <div class="row text-center d-flex justify-content-center align-items-center">
    <div class="col-md-4">
      <button [disabled]="processo.candidatoAprovado || processo.candidatoReprovado"
        (click)="modalStatus.exibirModal();changeAcao('aprovar')" type="button" class="btn brand-btn btn-block mb-3">
        <b> Aprovar Candidato </b>
      </button>
    </div>
    <div class="col-md-4">
      <button [disabled]="processo.candidatoAprovado || processo.candidatoReprovado"
        (click)="modalStatus.exibirModal();changeAcao('reprovar')" type="button" class="btn brand-btn btn-block mb-3">
        <b> Reprovar Candidato </b>
      </button>
    </div>
  </div>
</ng-container>
<modal-status-candidato #modalStatus [acao]="acao"></modal-status-candidato>
