<h1 class="brand-text"><b>Candidatos inscritos</b></h1>
<br>
<div class="row">
  <ng-container *ngIf="candidatosInscritos.length > 0">
    <ng-container *ngFor="let candidato of candidatosInscritos">
      <a (click)="viewCandidato(candidato.candidato.id)">
      <div class="col-md-6">
        <div class="container border border-primary rounded my-2">
          <h4>{{candidato?.usuario?.nome}}</h4>
          <h5 class="fw-light">{{candidato?.candidato?.genero}} - {{candidato?.candidato?.etnia}}</h5>
        </div>
      </div>
    </a>
    </ng-container>
  </ng-container>
</div>
