<div class="text-center">
  <div class="container shadow">
    <div class="card-body my-5 py-3">
      <br>
      <h2 class="brand-text"><b>Informações profissionais</b></h2>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-12">
              <div class="form-floating mb-3">
                <textarea [(ngModel)]="usuario.sobre" [maxlength]="200" type="text" id="info" class="form-control" placeholder="="
                  name="info"></textarea>
                <label for="info">Fale sobre você no ambiente de trabalho</label>
              </div>
            </div>
          </div>
          <br><br>
          <h3 class="brand-text"><b>Experiências anteriores</b></h3>
          <br><br>
          <ng-container *ngFor="let competencia of competencias; let indexComponent = index">
            <app-experiencias-anteriores [i]="indexComponent" [competencia]="competencia"></app-experiencias-anteriores>
            <br>
          </ng-container>
          <div class="row">
            <div class="col-1">
              <button type="button" class="btn brand-btn" (click)="onClickAdd()"><i class="bi bi-plus-circle"></i></button>
            </div>
            <div class="col-1" *ngIf="indexComponent > 1">
              <button type="button" class="btn brand-btn" (click)="onClickRemove()"><i class="bi bi-trash-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
