.rounded-circle{
  width: 7%;
  min-width: 50px;
  height: auto;
  min-height: 50px;
  align-content: center;
  display: inline-grid;
}
.min-height-div{
  height: auto;
  min-height: 50px;
}
.icon-size{
  font-size: 50px;
}
a.disabled {
  color: gray;
  pointer-events: none;
}
