<app-menu-candidato></app-menu-candidato>
<div class="px-5 justify-content-center d-flex">
  <div class="row">
    <div class="col-12">
      <br>
      <h1 class="text-border"><b>Bem vindo {{usuario.nome}}!</b></h1>
      <br>
      <br>
      <p>Bem vindo candidato à plataforma de recrutamento e seleção da Ernest Young!</p>
      <p>Insira suas informações <a>aqui</a> para encontrarmos uma vaga ideal para o seu perfil.</p>
    </div>
  </div>
</div>
<br><br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="text-center carousel-card">
      <div class="carousel-item active">
        <div class="container bg-white bg-gradient bg-opacity-50 py-5">
          <br>
          <h3 class="text-border"><b>Vagas em andamento</b></h3>
          <br><br>
          <p>Você tem</p><br>
          <h1><b>{{usuario.nome}}</b></h1><br>
          <p>vagas que estão em andamento!</p>
          <br>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container bg-white bg-gradient bg-opacity-50 py-5">
          <br>
          <h3 class="text-border"><b>Vagas finalizadas</b></h3>
          <br><br>
          <p>Você tem</p><br>
          <h1><b>{{usuario.nome}}</b></h1><br>
          <p>vagas que enceraram!</p>
          <br>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container bg-white bg-gradient bg-opacity-50 py-5">
          <br>
          <h3 class="text-border"><b>Vagas disponíveis</b></h3>
          <br><br>
          <p>Você tem</p><br>
          <h1><b>{{usuario.nome}}</b></h1><br>
          <p>vagas para se inscrever!</p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
