<div class="p-b-t-100 text-center brand-background">
</div>
<div class="text-center">
  <div class="container shadow">
    <div class="card-body my-5 py-3">
      <br>
      <h2 class="brand-text"><b>Nova vaga</b></h2>
      <br>
      <form (ngSubmit)="onSubmit()">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input [(ngModel)]="vaga.titulo" type="text" id="titulo" class="form-control" placeholder="="
                    name="titulo">
                  <label for="titulo">Título da vaga</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input [(ngModel)]="vaga.pretencaoSalarial" type="text" id="pretencaoSalarial" class="form-control"
                    placeholder="=" [dropSpecialCharacters]="false" mask="separator.2" decimalMarker=","
                    thousandSeparator="." prefix="R$ " separatorLimit="10000000" name="pretencaoSalarial">
                  <label for="pretencaoSalarial">Pretenção salárial da vaga</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <select name="modalidade" [(ngModel)]="vaga.modalidade" class="form-select">
                    <option disabled selected hidden>Selecione a modalidade</option>
                    <ng-container *ngFor="let modalidade of modalidades">
                      <option [value]="modalidade.modalidade" id="modalidade">{{modalidade?.modalidade}}</option>
                    </ng-container>
                  </select>
                  <label for="modalidade">Modalidade</label>
                </div>
              </div>
            </div>
            <app-endereco-vaga [endereco]="vaga.endereco"></app-endereco-vaga>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
