<div class="p-b-t-100 text-center yellow-background">
</div>
<div class="text-center">
  <div class="container shadow">
    <div class="card-body my-5 py-3">
      <br>
      <h2 class="text-warning"><b>Endereço</b></h2>
      <br>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <form>
            <div class="row">
              <!-- Estado input -->
              <div class="col-md-6 ">
                <div class="form-floating mb-3">
                  <input type="text" id="estado" class="form-control" placeholder="=" name="estado" />
                  <label for="estado">Estado</label>
                </div>
              </div>
              <!-- Municipio input -->
              <div class="col-md-6 ">
                <div class="form-floating mb-3">
                  <input type="text" id="municipio" class="form-control" placeholder="=" name="municipio" />
                  <label for="municipio">Município</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="logradouro" class="form-control" placeholder="=" name="logradouro" />
              <label for="logradouro">Logradouro</label>
            </div>
            <div class="row">
              <!-- CEP input -->
              <div class="col-md-6 ">
                <div class="form-floating mb-3">
                  <input type="text" id="cep" class="form-control" placeholder="=" name="cep" mask="00000-000" />
                  <label for="cep">CEP</label>
                </div>
              </div>
              <!-- Número input -->
              <div class="col-md-6 ">
                <div class="form-floating mb-3">
                  <input type="text" id="numero" class="form-control" placeholder="=" name="numero" />
                  <label for="numero">Número</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
