<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <form>
      <!-- Nome input -->
      <div class="form-floating mb-3">
        <input type="text" id="nome" class="form-control" placeholder="" />
        <label for="nome">Nome completo</label>
      </div>
      <!-- Curso input -->
      <div class="form-floating mb-3">
        <input type="text" id="curso" class="form-control" placeholder="" />
        <label for="curso">Curso</label>
      </div>
      <!-- CPF input -->
      <div class="form-floating mb-3">
        <input type="text" id="cpf" class="form-control" placeholder="=" />
        <label for="cpf">CPF</label>
      </div>
      <!-- Email input -->
      <div class="form-floating mb-3">
        <input type="email" id="email" class="form-control" placeholder="=" />
        <label for="email">E-mail</label>
      </div>
      <div class="row">
        <!-- Password input -->
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">
            <input type="password" id="senha" class="form-control" placeholder="" />
            <label for="senha">Senha</label>
          </div>
        </div>
        <!-- Repeat Password input -->
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">
            <input type="password" id="senha" class="form-control" placeholder="" />
            <label for="senha">Repita sua senha</label>
          </div>
        </div>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-warning btn-block mb-3">
        Registre-se
      </button>
    </form>
  </div>
</div>
