<div class="row">
  <div class="col-12">
    <br>
    <h1 class="brand-text"><b>{{vaga.titulo}}</b></h1>
    <h5 class="brand-text fw-light"><b>{{vaga.usuario.nome}}</b></h5>
    <br>
  </div>
</div>
<div class="row brand-text">
  <div class="col-6 text-end">
    <i class="bi bi-briefcase"></i> {{vaga.modalidade}}
  </div>
  <div class="col-6 text-start">
    <i class="bi bi-cash-coin"></i> {{vaga.pretencaoSalarial}}
  </div>
</div>
<br>
<div class="row brand-text">
  <div class="col-6 text-end">
    <i class="bi bi-person-video3"></i> {{vaga.areaAtuacao}}
  </div>
  <div class="col-6 text-start">
    <i class="bi bi-person-vcard-fill"></i> {{vaga.cargo}}
  </div>
</div>
<br>
<div class="row brand-text">
  <h3 class="brand-text"><b>Valores da empresa</b></h3>
  <div class="col-12">
    {{vaga.usuario.sobre}}
  </div>
</div>
<br>
<div class="row brand-text">
  <h3 class="brand-text"><b>Qualificações esperadas</b></h3>
  <div class="col-12">
    {{vaga.qualificacoes}}
  </div>
</div>
<br>
<div class="row brand-text">
  <h3 class="brand-text"><b>Responsabilidades</b></h3>
  <div class="col-12">
    {{vaga.responsabilidades}}
  </div>
</div>
<br>
<div class="row brand-text">
  <h3 class="brand-text"><b>Benefícios</b></h3>
  <div class="col-12">
    {{vaga.beneficios}}
  </div>
</div>
<br>
<ng-container *ngIf="vaga.id !== 0">
  <list-candidatos [vagaId]="vaga.id"></list-candidatos>
</ng-container>
