<app-menu-usuario></app-menu-usuario>
<form (ngSubmit)="onSubmit()">
  <app-informacoes-endereco [endereco]="endereco"></app-informacoes-endereco>
  <br>
  <app-informacoes-pessoais [candidato]="candidato"></app-informacoes-pessoais>
  <br>
  <app-informacoes-profissionais [competencias]="competencias" [usuario]="usuario"></app-informacoes-profissionais>
  <div class="text-center">
    <button type="submit" class="btn brand-btn btn-block mb-3">
      <b>
        Salvar
      </b>
    </button>
  </div>
</form>
