<form (ngSubmit)="onSubmit()" #perguntaForm="ngForm">
  <div class="row">
    <div class="col-12">
      <div class="form-floating mb-3">
        <textarea [minlength]="10" [disabled]="isFormSubmitted" required #questao="ngModel" [maxlength]="250" [(ngModel)]="pergunta.questao" type="text"
          id="questao" class="form-control" placeholder="=" name="questao"></textarea>
        <label for="questao">Qual a pergunta que você irá fazer?</label>
        <ng-container *ngIf="questao.dirty || questao.touched">
          <div *ngIf="questao.errors?.['required']" class="text-danger">
            Descrição da pergunta é de preenchimento obrigatório!
          </div>
          <div *ngIf="questao.errors?.['minlength']" class="text-danger">
            A pergunta tem que ter pelo menos 10 caracteres!
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-floating mb-3">
        <textarea [disabled]="isFormSubmitted" required #dissertativa="ngModel" [maxlength]="250" [(ngModel)]="resposta.dissertativa" type="text"
          id="dissertativa" class="form-control" placeholder="=" name="dissertativa"></textarea>
        <label for="dissertativa">Qual a resposta desejada?</label>
        <ng-container *ngIf="dissertativa.dirty || dissertativa.touched">
          <div *ngIf="dissertativa.errors?.['required']" class="text-danger">
            Resposta da pergunta é de preenchimento obrigatório!
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn brand-btn" [disabled]="!perguntaForm.valid || isFormSubmitted">
        <b>Salvar pergunta</b>
      </button>
    </div>
  </div>
</form>
<br>
