<div *ngIf="isMenuSelected == true" class="text-light sidenav brand-background shadow-lg">
  <a (click)="onClickMenu()">
    <span class="bi bi-x fs-3"></span>
  </a>
  <br>
  <div class="px-5 py-3">
    <a routerLink="/candidatos/pagina-inicial" (click)="onClickMenu()">
      <img id="img-logo" src="../../../../../assets/images/logotalent.png">
    </a>
    <br><br>
    <ng-container *ngIf="usuario.tipo === 'CANDIDATO'">
      <a routerLink="/candidatos/pagina-inicial" (click)="onClickMenu()">Bem-vindo</a><br><br>
      <a routerLink="/candidatos/busca-vagas" (click)="onClickMenu()">Vagas</a><br><br>
      <a routerLink="/candidatos/pagina-inicial" (click)="onClickMenu()">Processo seletivo</a><br><br>
      <a routerLink="/candidatos/cadastro-dados" (click)="onClickMenu()">Competências</a><br><br>
    </ng-container>
    <ng-container *ngIf="usuario.tipo === 'EMPRESA'">
      <a routerLink="/empresas/pagina-inicial" (click)="onClickMenu()">Bem-vindo</a><br><br>
      <a routerLink="/empresas/vagas" (click)="onClickMenu()">Cadastro de vagas</a><br><br>
    </ng-container>
  </div>
  <div class="text-center">
    <a routerLink="/candidatos/curriculo-view" (click)="onClickMenu()">
    <img id="img-user"
      src="https://img.freepik.com/fotos-gratis/cliente-masculino-pensativo-olhando-para-longe_74855-3601.jpg?w=360"
      alt="Avatar">
    <br>
    <p class="fs-4"><b>{{usuario.nome}}</b></p></a>
  </div>
</div>
<div class="text-light brand-background px-3 py-3">
  <a (click)="onClickMenu()" class=" fs-5"><b>≡</b></a>
</div>
