<section class="yellow-background">
  <div class="container text-center padding-element">
    <h1><b>TalentPool</b><br /></h1>
    <p class="text-break">Venha brilhar conosco, atingindo seu potencial profissional!
      <br class="d-none d-lg-block">
      Com as melhores vagas em nosso site, você saí preparado.
    </p>
    <a href="#info" class="btn btn-outline-dark scrolly btn-lg">Descubra</a>
  </div>
</section>
<section id="info">
  <div class="container padding-element">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Recrutamento humanizado</h2>
        <p>Nossa missão é promover a inclusão e a diversidade no mercado de trabalho através da educação. O mercado de
          trabalho precisa de novas soluções que integrem pessoas em situação de vulnerabilidade, e
          aqui estamos!
        </p>
      </div>
      <div class="col-12 col-md-6 text-center"><img class="img-fluid"
          src="https://t4.ftcdn.net/jpg/03/29/01/45/360_F_329014594_PVwsRKeibheV3iPpyex2fAb9vWGcEOoT.jpg" />
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="main style2">
  <div class="container">
    <div class="row gtr-150">
      <div class="col-6 col-12-medium">
        <ul class="major-icons">
          <li><span class="icon solid style1 major fa-code"></span></li>
          <li><span class="icon solid style2 major fa-bolt"></span></li>
          <li><span class="icon solid style3 major fa-camera-retro"></span></li>
          <li><span class="icon solid style4 major fa-cog"></span></li>
          <li><span class="icon solid style5 major fa-desktop"></span></li>
          <li><span class="icon solid style6 major fa-calendar"></span></li>
        </ul>
      </div>
      <div class="col-6 col-12-medium">
        <header class="major">
          <h2>Lorem ipsum dolor adipiscing<br />
            amet dolor consequat</h2>
        </header>
        <p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis
          volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan
          adipiscing ipsum.</p>
        <p>Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac
          risus accumsan. Accumsan blandit. Lobortis phasellus non lobortis dit varius mi varius accumsan lobortis.
          Blandit ante aliquam lacinia lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu
          mi odio tempus adipiscing adipiscing adipiscing curae consequat feugiat etiam dolore.</p>
        <p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis
          volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan
          adipiscing ipsum.</p>
      </div>
    </div>
  </div>
</section>

<!-- Four -->
<section id="saiba-mais" class="main style2 special">
  <div class="container text-center padding-element">
    <h2>Quer saber mais?</h2>
    <p>Acesse nosso site!</p>
    <a class="btn btn-outline-light btn-lg">Cadastre-se</a>
  </div>
</section>
