<menu></menu>
<section class="yellow-background">
  <div class="container text-center py-5">
    <h1><b>TalentPool</b><br /></h1>
    <p class="text-break">Venha brilhar conosco, atingindo seu potencial profissional!
      <br class="d-none d-lg-block">
      Com as melhores vagas em nosso site, você saí preparado.
    </p>
    <a href="#info" class="btn btn-outline-dark scrolly btn-lg">Descubra</a>
  </div>
</section>
<section id="info">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Recrutamento humanizado</h2>
        <p>
          A inclusão no mercado de trabalho é de extrema importância para o desenvolvimento social e econômico de uma
          sociedade. Através da inclusão, garantimos que todas as pessoas, independentemente de sua origem, gênero,
          idade, raça, orientação sexual ou deficiência, tenham oportunidades igualitárias de emprego e possam
          contribuir com suas habilidades e talentos.
        </p>
        <p>Nossa missão é promover a inclusão e a diversidade no mercado de trabalho através da educação. O mercado de
          trabalho precisa de novas soluções que integrem pessoas em situação de vulnerabilidade, e
          aqui estamos!
        </p>
      </div>
      <div class="col-12 col-md-6 text-center"><img class="img-fluid img-width"
          src="https://t4.ftcdn.net/jpg/03/29/01/45/360_F_329014594_PVwsRKeibheV3iPpyex2fAb9vWGcEOoT.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <h2>Você com a gente!</h2>
        <p>Nossa missão é promover a inclusão e a diversidade no mercado de trabalho através da educação. Reconhecemos
          que existe uma grande necessidade de novas soluções que integrem pessoas em situação de vulnerabilidade, que
          muitas vezes são excluídas das oportunidades profissionais. Acreditamos que a educação desempenha um papel
          fundamental nesse processo, capacitando indivíduos e fornecendo-lhes as habilidades e conhecimentos
          necessários para competir em um mercado cada vez mais diverso e globalizado.</p>
        <p>Buscamos criar um ambiente inclusivo, onde todas as pessoas, independentemente de sua origem
          socioeconômica,
          gênero, raça ou qualquer outra característica, tenham acesso igualitário às oportunidades de trabalho.
          Trabalhamos em parceria com instituições educacionais, organizações sociais e empresas para desenvolver
          programas e iniciativas que fomentem a inclusão e a diversidade. Acreditamos que, ao oferecer oportunidades
          de
          educação e capacitação adequadas, podemos ajudar a romper barreiras e criar um mercado de trabalho mais
          igualitário e justo.</p>
        <p>Estamos comprometidos em oferecer suporte contínuo às pessoas em situação de vulnerabilidade, desde o
          acesso
          à educação básica até a formação profissional. Nossos programas visam não apenas fornecer conhecimentos
          técnicos, mas também desenvolver habilidades socioemocionais e promover a autoconfiança. Através da
          educação,
          estamos construindo pontes entre empresas e talentos diversos, criando um ambiente de trabalho mais
          enriquecedor e produtivo para todos. Estamos firmes em nossa missão de transformar o mercado de trabalho,
          impulsionando a inclusão e a diversidade através da educação.</p>
      </div>
    </div>
  </div>
</section>
<!-- Four -->
<section id="saiba-mais" class="main style2 special">
  <div class="container text-center py-5">
    <h2>Quer saber mais?</h2>
    <p>Acesse nosso site!</p>
    <a routerLink="/cadastros" class="btn btn-outline-light btn-lg">Cadastre-se</a>
  </div>
</section>
